/*Header*/
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
button {
  cursor: pointer;
}

/*-------------Header------------*/

.header {
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #212121;
}

.logo1 {
  color: #2196f3;
}

.header-nav {
}

.header-list {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.header-list:focus,
.header-list:hover {
  color: #2196f3;
}

.header-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.header-item:focus,
.header-item:hover {
  color: #2196f3;
}

/*------------Section-1-Hero------------*/

.hero {
}

.hero-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #ffffff;
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.85;
  color: #ffffff;
}

/*------------Section-2------------*/

.text {
}

.text-item-name {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.text-item {
  font-size: 14px;
  line-height: 1.7;
  color: #757575;
}

/*------------Section-3-do------------*/

.do {
}

.do-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.do-list {
}

.do-item {
}

/*------------Section-4-team------------*/

.team {
}

.team-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list {
}

.team-item {
}

.team-person {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #212121;
}

.team-person-job {
  font-size: 16px;
  line-height: 1.18;
  color: #757575;
}

/*------------Footer------------*/
.footer {
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.footer-adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  counter-reset: #ffffff;
}

.footer-list {
}

.footer-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  color: rgba(255, 255, 255, 0.6);
}

/* ------------PORTFOLIO------------ */

.nav-prtf {
}

.nav-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.nav-btn :focus,
.nav-btn :hover {
  color: #ffffff;
}

.prtf-img {
}

.prtf-item-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.prtf-item {
  font-size: 16px;
  line-height: 1.85;
  letter-spacing: 0.03em;
  color: #757575;
}
